.menu {
  width: 200px;
}

.menu .buton {
  background-color: cornflowerblue;
  text-align: center;
  padding: 5px;
}

.menu:hover ul {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 5px;
  border: 1px solid cornflowerblue;
  margin: 0;
  display: none;
}
