.kutu1 {
  background-color: blueviolet;
  padding: 15px;
  margin: 40px 450px 50px 290px;
  text-align:right;
}

.kutu2 {
  background-color: chartreuse;
  padding: 15px;
  margin: 0px 180px 50px 550px;
  text-align:right;
}
